html, body{
 height: 100%;
 width: 100%;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #080808;
  font-family: 'Poppins', sans-serif;
}

.topnav a {
  float: left;
  color: #97989b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* container holding image and text */
.main-container {
  width: 100%;
  margin: 0% 0% 0% 0%;
}

.main-container img {
  width: 100%;
  margin: 0% 0% 0% 0%;
}

/* Words on image */

.hero-image {
  background-image: url("https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 37%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #bbbbbb;
  font-family: 'Poppins', sans-serif;

}

.hero-text h1 {
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 20px;
  font-size: 100px !important;
  font-weight: 400;
  white-space: nowrap;
}

.hero-text p {
  font-size: 25.46px !important;
  white-space: nowrap;
}


/* TRANSITIONS */

h1 {
  transition-delay: 100ms;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-property: color;
}

h1:hover {
  color: #ddd;
}

a {
  transition-delay: 100ms;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-property: color;
}

a:hover {
  color: #ddd;
}

.imagemiddle p {
  transition-delay: 175ms;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-property: color;
}

.imagemiddle p:hover {
  color: #ddd;
}

a {
  transition-delay: 100ms;
  transition-duration: 0.7s;
  transition-timing-function: ease-in;
  transition-property: all;
}

a:hover {
  color: white;
}

@media (max-width:768px) {
  .hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbbbb;
    font-family: 'Poppins', sans-serif;

  }

  .hero-text h1 {
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 20px;
    font-size: 45px !important;
    font-weight: 400;
    white-space: nowrap;
  }

  .hero-text p {
    font-size: 15px !important;
    white-space: nowrap;
  }

  .topnav a {
    float: left;
    color: #97989b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;

  }
}
